$smoky_black: #0A0908 !default;
$dim_gray: #696D7D !default;
$dark_lavender: #5f4d93 !default;
$onyx: #363946 !default;
$middle_pink: #C585B3 !default;
$pastel_magenta: #F198BF !default;
$platinum: #EEE5E9 !default;
$deep_koamaru: #3D315B !default;
$ube: #8B85C1 !default;
$space_cadet: #2E294E !default;
$electric_lavender: #F9B9F2 !default;
$lavender_rose: #FFA9E7 !default;
$super_pink: #C46BAE !default;
$dark_gunmetal: #1D1A31 !default;
$hot_pink: #FF60B0 !default;
$cerise_pink: #EA3788 !default;
$silver_pink: #C1A5A9 !default;
$japanese_violet: #4D2D52 !default;
$cyber_grape: #613F75 !default;
$purpureus: #9A4C95 !default;
$lavender_purple: #9882AC !default;
$middle_purple: #D782BA !default;
$plum: #E18AD4 !default;
$dark_raspberry: #792359 !default;
$mardi_grass: #861388 !default;
$fandango: #B0228C !default;
$bone: #DDE2C6 !default;
$eggshell: #E6EED6 !default;
$gainsboro: #D9D9D9 !default;
$lilac: #BEA2C2 !default;
$yellow_green: #91CB3E !default;
$dandelion: #EEE82C !default;

$color_gray: $dim_gray;
$color_dark: $onyx;
$color_pink_one: $electric_lavender;
$color_pink_two: $lavender_rose;
$color_pink_three: $super_pink;
